section#education.education
  .container
    h2.education__title Образование

    .education__cont
      img.education__photo.lazy(data-src='assets/img/education/photo.webp')

      .education-list
        .education-item
          a.education-item__img-link(
            data-fslightbox
            href='assets/img/education/doc-01.webp'
          )
            img.education-item__img.lazy(
              data-src='assets/img/education/doc-01.webp'
              alt='ДГМУ. Специальность: лечебное дело'
            )
            span.caption Посмотреть
          .education-item__txt-cont
            span.education-item__title ДГМУ. Специальность: лечебное дело
            span.education-item__date 2011 - 2017

        .education-item
          a.education-item__img-link(
            data-fslightbox
            href='assets/img/education/doc-02.webp'
          )
            img.education-item__img.lazy(
              data-src='assets/img/education/doc-02.webp'
              alt='РНИМУ им. Н.И.Пирогова. Кафедра хирургии и эндоскопии ФДПО'
            )
            span.caption Посмотреть
          .education-item__txt-cont
            span.education-item__title РНИМУ им. Н.И.Пирогова. Кафедра хирургии и эндоскопии ФДПО
            span.education-item__date 2017 - 2019

        .education-item
          a.education-item__img-link(
            data-fslightbox
            href='assets/img/education/doc-03.webp'
          )
            img.education-item__img.lazy(
              data-src='assets/img/education/doc-03.webp'
              alt='МОНИКИ им. М.Ф.Владимирского. Кафедра пластической и реконструктивной хирургии'
            )
            span.caption Посмотреть
          .education-item__txt-cont
            span.education-item__title МОНИКИ им. М.Ф.Владимирского. Кафедра пластической и реконструктивной хирургии
            span.education-item__date 2019 - 2021
